# RewriteEngine On
# RewriteBase /uatmioot/uidesign/React/Itsllegal/
# RewriteRule ^index\.html$ - [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /uatmioot/uidesign/React/Itsllegal/index.html [L]